body{
    margin: 0;
    text-align: center;
}

h1{
    font-family: 'sacramento', cursive;
    font-size: 5.525rem;
    margin-top: 50px;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
}
.intro{
    width: 30%;
    margin: auto;
}

h2{
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    font-family: 'montserrat', sans-serif;
}
h3{
    color: #11999E;

}
a{
    color: #11999E;
    font-family: 'montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6 
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.top{
background-color: #E4f9f5;
padding-top: 100px;
position: relative;

}
.middle-container{
    margin-top: 100px 0;
    

}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.down-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.upper-cloud{
    position: absolute;
   right: 300px;
   top: 50px;
}  
.profile-pic{
    border-radius: 100%;
    height: 200px;
    width: 200px;
}
.coding{
    /* height: 120px; */
    width: 25%;
    float: left;
    /* position: relative; */
   margin-right: 30px;

}

.Eating{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.contact-message{
    width: 40%;
    margin: 100px auto ;
}
hr{
    border-style: dotted none none none;
    width: 10%;
    border-width: 10px;
    /* border-color: ; */
    margin: 40px auto 60px;
}





.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #119993);
    background-image: -moz-linear-gradient(top, #11cdd4, #119993);
    background-image: -ms-linear-gradient(top, #11cdd4, #119993);
    background-image: -o-linear-gradient(top, #11cdd4, #119993);
    background-image: linear-gradient(to bottom, #11cdd4, #119993);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
 
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
